body{
margin: 0;
font-family: 'Roboto', sans-serif;
}
.top-header{
    background-image: url(images/top-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
}
.logo-design{
    width: 70px;
    height: 70px;
    /* every line a height drkr ase tai line height */
    line-height: 70px;
    text-align: center;
    color:white;
    border: 2px solid rgb(19, 11, 11);
    border-radius: 50%;
    margin: 1% 7% ;
}
.topnav {
   width: 40%;
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color:rgb(245, 222, 179);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    padding-left: 30px;
    text-align: center;
}
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
 
  }
  .left-side-design{
      width: 40%;
  }
.bottom-text{
    padding-left: 7%;
    color: rgba(245, 222, 179, 0.671);
    font-size: 2rem;
}
#para{
    font-size: 1.2rem;
    color:grey;

}
.para-1{
    margin-bottom: 15%;
    line-height: 2rem;
}



/* food-network section.............. */
.food-network{
    display: flex;
    padding-top: 5%;
    margin-bottom: 5%;
    /* background-color: silver; */
}
.half-width{
    width: 40%;
    padding-left: 2px;
    margin-left: 5%;
}
.word-coloring{
    color:orangered ;
}
.heading-design{
    font-size: 3rem;
}
.image-design{
    width: 100%;
}
.food-order-link{
text-decoration: none;
background-image: linear-gradient(salmon,orange);
padding: 15px 25px;
border-radius: 50px;

}

/* about section starts here */

.about-section{

    display: flex;
    padding-top: 7%;
   background-image: url(images/bg-2.png);

}
/* recipie section */
.recipie{
    text-align: center;
 
}
/* card............ */
.card{
    width: 300px;
    margin: 10px;
    background-color: white;
 padding: 15px;

    box-sizing: border-box;
    box-shadow: 6px 12px 10px black;
    border-radius: 10px;
}

.card-body{
    padding: 5px;
    
    }
    .card-title{
    /* font-size: 1.2rem; */
    text-align: center;
    
    }
    .card-desc{
    text-align: justify;
    line-height: 1.5;

    }
    
    .card-container{
        box-sizing: border-box;
        display: flex;
       justify-content: center;
       align-items: center;
       padding: 20px;
    }
    /* social-media-section */
    .social-media-section{
        margin: auto;
        width: 65%;
        border: 5px solid whitesmoke;
        padding: 20px;
box-shadow: grey 1px 2px 4px;
display: flex;
margin-bottom: 5%;
margin-top: 5%;
    }
    .social-media-section:hover{
        background-color: grey;
    }
    .media{
        width: 30%;
        /* padding: 2px; */
        margin: 5%;
    }
    /* footer section............... */
    .footer-design{
        background-color: black;
    text-align: center;
padding: 20px 40px ;
    }
    .grey-coloring{
        color: grey;
    }
    